<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/icon-192x192.png">-->
  </head>
  <body>
    {{{body}}}
  </body>
</html>
